#main-app {
    text-align: center;    
}

li {
    list-style: none;
    padding-bottom: 10px;    
}

li:after {    
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    margin: auto;
    background: gray;
}

img {
    width: 10%;
    height: 10%;
}